{% extends 'base.html' %}

{#Этот html относится к куску кода, который еще не работает. #}
{#Надеюсь, что он вообще когда-нибудь заработает#}
{#Сюда пока лезть смысла мало#}

{% block content %}
    <h2 class="mb-3">Update your interests</h2>
    <form action='' method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Nevermind</a>
    </form>
{% endblock %}