<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% block header %}{% endblock header %}
{% block content %}
    <div id="login-wrapper" class="authorization-form-wrapper">
        <a href="{% url 'home' %}">
            <div class="return-to-home"></div>
        </a>
        <form method="post" class="form-container">
            <h2>Log In</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
            <a href="{% url 'password_reset' %}" id="forgot-password-link">Forgot password?</a>
        </form>
    </div>
    <script>
        let passwordLabels = document.querySelectorAll('p:has(input[id*=password]) label');
        passwordLabels.forEach(label => {
            let passwordViewToggle = document.createElement("div");
            passwordViewToggle.classList.add('password-view-toggle');
            label.appendChild(passwordViewToggle);
            passwordViewToggle.addEventListener('click', () => {
                passwordViewToggle.classList.toggle('shown');
                passwordViewToggle.classList.contains('shown')
                    ? label.nextElementSibling.setAttribute('type', 'text')
                    : label.nextElementSibling.setAttribute('type', 'password');
            }) 
        });
    </script>
{% endblock content %}
{% block footer %}{% endblock footer %}