<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% block header %}{% endblock header %}
{% block content %}
    <div id="login-wrapper" class="authorization-form-wrapper">
        <a href="{% url 'home' %}">
            <div class="return-to-home"></div>
        </a>
        <form method="post" class="form-container">
            <h2>Log In</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
            <a href="{% url 'password_reset' %}" id="forgot-password-link">Forgot password?</a>
        </form>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}