<!-- templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{#
Эта страница автоматически показывается 
по переходу на accounts/password_reset/
Добавьте ссылку на эту страницу в регистрацию
Эта страница отправляет на введенную почту (пока что в консоль)
ссылку на форму смены пароля.
А сама в это время перенаправляет на accounts/reset_done 
#}
{% block title %}Forgot Your Password?{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="password-form-wrapper authorization-form-wrapper">
        <form method="POST" class="form-container">
            <h2>Forgot your password?</h2>
            <p>Enter your email address below, and we'll email instructions
            for setting a new one.</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Send me instructions!</button>
        </form>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}