{% extends "base.html" %}
{#
Эта страница автоматически показывается
по переходу на accounts/password_change/
Позже нужно будет добавить ссылку на эту страницу в настройки профиля
#}
{% block title %}Password Change{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="password-form-wrapper authorization-form-wrapper">
        <form method="POST" class="form-container">
            <h2>Password change</h2>
            <p>Please enter your old password, for security's sake, and then enter
                your new password twice, so we can verify you typed it in correctly.</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Change my password</button>
        </form>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}