<!-- templates/registration/password_reset_confirm.html -->
{#Собственно форма смены пароля#}
{#Пользователь попадает сюда по ссылку через почту#}
{% extends "base.html" %}
{% block title %}Enter new password{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="password-form-wrapper authorization-form-wrapper">
        <a href="{% url 'home' %}">
            <div class="return-to-home"></div>
        </a>
        <form method="POST" class="form-container">
            <h2>Set a new password!</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Change my password</button>
        </form>
    </div>
    <script>
        let passwordLabels = document.querySelectorAll('p:has(input[id*=password]) label');
        passwordLabels.forEach(label => {
            let passwordViewToggle = document.createElement("div");
            passwordViewToggle.classList.add('password-view-toggle');
            label.appendChild(passwordViewToggle);
            passwordViewToggle.addEventListener('click', () => {
                passwordViewToggle.classList.toggle('shown');
                passwordViewToggle.classList.contains('shown')
                    ? label.nextElementSibling.setAttribute('type', 'text')
                    : label.nextElementSibling.setAttribute('type', 'password');
            })
        });
    </script>
{% endblock content %}
{% block footer %}{% endblock footer %}
