{% extends "base.html" %}
{#
Эта страница автоматически показывается
по переходу на accounts/password_change/
Позже нужно будет добавить ссылку на эту страницу в настройки профиля
#}
{% block title %}Password Change{% endblock title %}
{% block content %}
    <div class="account-content-wrapper">
        <div id="account-space-nav">
            <ul>
                <li><a href="{% url 'student_profile_edit' user.id %}">Edit profile</a></li>
                <li><a href="{% url 'student_interests' %}">Update interests</a></li>
                <li id="current-edit-page">
                    <div></div>
                    <a href="{% url 'password_change' %}">Change password</a>
                </li>
            </ul>
        </div>
        <div id="account-space-edit">
            <h3>Change password</h3>
            <form method="POST" class="data-editing-form">
                <div class="account-dataset">
                    <span>Please enter your old password, for security's sake, and then enter
                        your new password twice, so we can verify you typed it in correctly.</span>
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button class="btn btn-success" type="submit">Change my password</button>
            </form>
        </div>
    </div>
    <script>
        let passwordLabels = document.querySelectorAll('p:has(input[id*=password]) label');
        passwordLabels.forEach(label => {
            let passwordViewToggle = document.createElement("div");
            passwordViewToggle.classList.add('password-view-toggle');
            label.appendChild(passwordViewToggle);
            passwordViewToggle.addEventListener('click', () => {
                passwordViewToggle.classList.toggle('shown');
                passwordViewToggle.classList.contains('shown')
                    ? label.nextElementSibling.setAttribute('type', 'text')
                    : label.nextElementSibling.setAttribute('type', 'password');
            }) 
        });
    </script>
{% endblock content %}