{% extends "base.html" %}
{#
Страница уведомляет, что смена пароля прошла успешно
Переход на нее идет автоматически из passwort_change
#}
{% block title %}Password Change Successful{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="message-form-wrapper">
        <a href="{% url 'home' %}">
            <div class="return-to-home"></div>
        </a>
        <h2>Password change successful</h2>
        <p>Your password was changed. You can return now to your 
            <a href="{% url 'student_profile' user.id %}">Profile</a>.</p>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}
