<!-- templates/registration/password_reset_complete.html -->
{#На эту страницу идет автоматический переход из password_reset_confirm#}
{% extends "base.html" %}
{% block title %}Password reset complete{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="message-form-wrapper">
        <a href="{% url 'home' %}">
            <div class="return-to-home"></div>
        </a>
        <h2>Password reset complete</h2>
        <p>Your new password has been set.</p>
        <p>You can log in now on the
            <a href="{% url 'login' %}">Log In page</a>.</p>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}