<!-- templates/registration/password_reset_done.html -->
{#На эту страницу идет автоматический переход из password_reset_form#}
{% extends "base.html" %}
{% block title %}Email Sent{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="message-form-wrapper">
        <a href="{% url 'home' %}">
            <div class="return-to-home"></div>
        </a>
        <h2>Check your inbox</h2>
        <p>We've emailed you instructions for setting your password.</p>
        <p>You should receive the email shortly!</p>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}