{% extends "base.html" %}
{% block title %}Password change successful{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="message-form-wrapper">
        <a href="{% url 'home' %}">
            <div class="return-to-home"></div>
        </a>
        <h2>Password change successful</h2>
        <p>Your password was changed. You can return now to your
            {% if request.user.is_student %}
                <a class="redirect-link" href="{% url 'student_profile' request.user.id %}">
            {% else %}
                <a class="redirect-link" href="{% url 'teacher_profile' request.user.id %}">
            {% endif %}
            Profile</a>.</p>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}
