<!-- templates/registration/signup.html -->
{% extends "base.html" %}
{% block content %}
    <h2>Sign Up</h2>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    <script>
        document.querySelector('label[for="id_username"]').textContent = 'Username';
        document.querySelector('label[for="id_password1"]').textContent = 'Password';
        document.querySelector('label[for="id_password2"]').textContent = 'Password confirmation';
    </script>
{% endblock content %}
