{% extends 'base.html' %}
{% load static %}
{% block title %}Sign up{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div id="signup-wrapper" class="authorization-form-wrapper">
        <div class="form-container">
            <a href="{% url 'home' %}">
                <div class="return-link">
                    <div></div>
                    <div></div>
                </div>
            </a>
            <h2>Sign up for a free account</h2>
            <p class="lead">Select below the type of account you want to create</p>
            <div id="select-user-type">
                <a href="{% url 'student_signup' %}" class="btn btn-student btn-lg" role="button">
                    <span>I'm a student</span>
                </a>
                <a href="{% url 'teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">
                    <span>I'm a teacher</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock footer %}