{% extends 'base.html' %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-10 col-12">
            <div id="signup-form-wrapper" class="authorization-form-wrapper">
                <form method="post" class="form-container">
                    <a href="{% url 'signup' %}">
                        <div class="return-link">
                            <div></div><div></div>
                        </div>
                    </a>
                    <h2>Sign up <br/>as a {{ user_type }}</h2><hr>
                    <h3>Create a profile</h3>
                    <span>These details are essential for creating your account.</span>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form.as_p }}
                    <div id="dataset-buttons-container">
                        <div id="prev-set-button">Back</div>
                        <button type="submit" class="btn btn-success">Sign up</button>
                        <div class="active" id="next-set-button">Continue</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        let setNumber = 0;
        let buttonNext = document.getElementById('next-set-button');
        let buttonPrev = document.getElementById('prev-set-button');
        let buttonSignup = document.querySelector('.btn.btn-success');
        let setTitle = document.querySelector('.form-container h3');
        let setLabel = document.querySelector('.form-container span');

        let inputs = document.querySelectorAll('.form-container > p, .form-container > [id=\'id_interests\']');
        let inputDataSet;
        let titles;
        let labels;
        '{{ user_type }}' === 'student'
            ? (inputDataSet = [[inputs[0], inputs[3], inputs[5], inputs[6]],
                [inputs[1], inputs[2], inputs[4]],
                [inputs[7], inputs[8]]],
                titles = ['Create a profile', 'Share personal information', 'Choose hobbies and interests'],
                labels = ['These details are essential for creating your account.',
                    'Personalize your experience. You can provide this later.',
                    'We will tailor content and recommendations to your preferences.'])
            : (inputDataSet = [[inputs[0], inputs[1], inputs[2]],
                [inputs[3], inputs[4]]],
                titles = ['Create a profile', 'Choose hobbies and interests'],
                labels = ['These details are essential for creating your account.',
                    'We will tailor content and recommendations to your preferences.']);
        inputDataSet[0].forEach(input => input.classList.add('active'));

        function ChangeDataSet(param) {
            inputDataSet[setNumber].forEach(input => input.classList.remove('active'));
            param ? setNumber++ : setNumber--;
            inputDataSet[setNumber].forEach(input => input.classList.add('active'));
            setTitle.textContent = titles[setNumber];
            setLabel.textContent = labels[setNumber];
        }
        buttonNext.onclick = function() {
            ChangeDataSet(1);
            if (setNumber === 1) {
                buttonPrev.classList.add('active');
            }
            if (setNumber === inputDataSet.length - 1) {
                buttonNext.classList.remove('active');
                buttonSignup.classList.add('active');
            }
        };
        buttonPrev.onclick = function() {
            ChangeDataSet(0);
            if (setNumber === 0) {
                buttonPrev.classList.remove('active');
            }
            if (setNumber === inputDataSet.length - 2) {
                buttonSignup.classList.remove('active');
                buttonNext.classList.add('active');
            }
        };
        
        let password1 = document.getElementById('id_password1');
        let password2 = document.getElementById('id_password2');
        let usernamesRender = "{{ usernames }}".split("!");
        let usernameInput, usernameExists;
        function isValid() {
            usernameInput = document.getElementById('id_username');
            usernameExists = usernamesRender.includes(usernameInput.value);
            usernameExists
                ? usernameInput.style.borderColor = "indianred"
                : usernameInput.style.borderColor = "limegreen";
            for (let i = 0; i < inputDataSet[setNumber].length; i++) {
                if (!inputDataSet[setNumber][i].querySelector('input').checkValidity() || usernameExists) {
                    return false;
                }
            }
            return !(setNumber === 0 && (password1.value !== password2.value));
        }
        function updateStatus() {
            if (isValid()) {
                buttonNext.classList.add('valid');
                let errorLists = document.querySelectorAll('.errorlist');
                if (errorLists) {
                    errorLists.forEach(errorList => {
                        errorList.style.display = 'none';
                    });
                }
            }
            else {
                buttonNext.classList.remove('valid');
            }
        }
        inputDataSet[0].forEach(oneInput => {
            oneInput.querySelector('input').addEventListener('input', updateStatus);
        });
    </script>
{% endblock %}
{% block footer %}{% endblock footer %}