/* базовый css шапки и подвала */
/* цвета, шрифты, отступы, границы можно спокойно менять, ничего сломаться не должно */
/* блоки, которые лучше не трогать: *, html/body, .full-content-wrapper, .variable-content-wrapper */
/* замечательную кнопку logout нужно настраивать отдельно */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
.full-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.variable-content-wrapper {
    flex: 1 0 auto;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
nav ul,
.nav-right {
    display: flex;
}
nav ul {
    list-style: none;
}
.header-menu-link {
    margin: 0 10px;
}
header a {
    color: #fff;
    text-decoration: none;
}
.signup-button a {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}
#nav-logout-button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: 0 10px;
}
header a,
#nav-logout-button {
    transition: 0.3s;
}
header a:hover,
#nav-logout-button:hover {
    cursor: pointer;
    color: #c9c8c2;
}
.signup-button a:hover {
    border-color: #c9c8c2;
    border-radius: 5px;
}
main {
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    flex: 0 0 auto;
}