*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    vertical-align: middle;
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    display: block;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}
a:link,
#user-icon span,
#nav-toggle span,
button {
    transition: 0.3s;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #333;
    background: #f4f4f4;
}

/* очистка потока */
header:after, .header-nav:after {
    content: '';
    display: table;
    clear: both;
}
/* ширина контейнера шапки */
.header-nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
}
/* база шапки */
header {
    width: 100%;
    display: block;
    background: #333;
    padding: 10px 0;
    margin-bottom: 30px;
    position: relative;
}
header a {
    color: #fff;
    line-height: 30px;
}
header a:hover {
    color: #94938a;
}
nav > ul > li {
    display: inline-block;
    margin-right: 30px;
}
nav > ul > li:last-child {
    margin-right: 0;
}
#nav-left {
    float: left;
}
#nav-right {
    float: right;
}

/* переключатель навигатора слева шапки */
/* иконка пользователя справа шапки */
#nav-toggle,
#user-icon {
    text-align: center;
    cursor: pointer;
}
/* переключатель навигатора по умолчанию скрыт, только для узких экранов */
/* потом сделаю его адекватным меню-гамбургером, пока что так */
#nav-toggle {
    display: none;
    float: left;
}
#nav-toggle span,
#user-icon span {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
#user-icon span {
    border-radius: 50%;
}
#user-icon:hover span,
#nav-toggle:hover span {
    color: #94938a;
    border-color: #94938a;
}

/* меню пользователя, по умолчанию скрыто */
/* возникает при нажатии на иконку */
#header-user-menu {
    display: none;
    position: absolute;
    inset: 52px 15px auto auto;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.3);
    border-radius: 10px;
    background: #f4f4f4;
}
#header-user-menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    padding: 10px 15px;
}
#header-user-menu li:first-child a {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 10px 10px 0 0;
}
#header-user-menu button {
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 0 0 10px 10px;
}
#header-user-menu a:hover,
#header-user-menu button:hover {
    color: #94938a;
    background-color: #ddd;
}

/* кнопка выхода из системы внутри меню пользователя */
#nav-logout-button {
    border: none;
    background-color: transparent;
    color: #333;
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 10px 15px;
    line-height: 30px;
}

/* ссылка на форму входа в систему */
#signup-link {
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
#signup-link:hover {
    border-color: #94938a;
}

/* мобильный */
/* новое окно навигации прежде всего */
/* таким убогим я его не оставлю, но это позже */
/* есть еще один маленький баг, связанный с этим окном, но это тоже потом */
@media (max-width: 525px) {
    /* возникает переключатель навигации */
    #nav-toggle {
        display: block;
    }
    /* меню навигации убрано под шапкой слева */
    #nav-left {
        display: none;
        position: absolute;
        inset: 52px auto auto 15px;
        min-width: 150px;
        box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.3);
        border-radius: 10px;
        background: #333;
    }
    #nav-left li {
        display: block;
        margin-right: 0;
    }
    #nav-left a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 15px;
    }
    #nav-left a:hover {
        background-color: rgba(148, 147, 138, 0.15);
    }
    #nav-left li:first-child a {
        border-radius: 10px 10px 0 0;
    }
    #nav-left li:last-child a {
        border-radius: 0 0 10px 10px;
    }
    /* не имеет отношения к шапке, но футер тоже нужно урезать */
    footer span {
        display: none;
    }
}

/* формы login, signup */
/* когда будет разделение на учителей и студентов, переделаю форму регистрации */
main form[method='post'] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    margin: 20px 0 20px;
    background-color: #f4f4f4;
    box-shadow: 0 3px 16px 0 rgba(51, 51, 51, 0.3);
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
}
main form[method='post'] p {
    display: flex;
    flex-direction: column;
}
main form[method='post'] p input {
    order: 1;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    padding: 5px 0;
    font-size: 16px;
}
main form[method='post'] p label {
    order: 2;
    margin: 5px 0 0;
    pointer-events: none;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.75);
}
main form[method='post'] button[type='submit'] {
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
}
main form[method='post'] button[type='submit']:hover,
main form[method='post'] button[type='submit']:focus {
    background-color: #94938a;
}
main .helptext {
    display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #f4f4f4 inset !important;
}

main {
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 160px);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 30px 0 0;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}