*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

ul {
    vertical-align: middle;
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

a:link {
    transition: 0.2s;
}

button {
    cursor: pointer;
    transition: 0.2s;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;

    color: #333333;
    background: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

main {
    flex: 1 0 auto;
}

/* очистка потока */
header:after, .header-nav:after {
    content: '';
    display: table;
    clear: both;
}

/* база шапки */
header {
    position: relative;
    padding: 16px;
}

/* ширина контейнера шапки */
.header-nav {
    margin: 0 auto;
    max-width: 1280px;
    padding: 8px;

    border: 1px solid #333333;
    border-radius: 30px;
}

.header-nav-li {
    display: inline-block;
    margin-right: 8px;
}

.header-nav-li:last-child {
    margin-right: 0;
}

.header-nav-a {
    display: inline-block;
    padding: 3px 16px;
    line-height: 30px;
    color: #333333;
}

.header-nav-a:hover {
    color: rgba(51, 51, 51, 0.5);
}

#nav-left {
    z-index: 2;
    float: left;
}

#nav-right {
    float: right;
}

/* переключатель навигатора */
#nav-toggle {
    position: absolute;
    z-index: 10;

    display: none;
    width: 36px;
    height: 36px;

    cursor: pointer;
}

/* внешняя оболочка не тыкабельная */
/* прозрачный слой поверх кнопки */
#nav-toggle > div {
    position: absolute;

    display: flex;
    width: 30px;
    height: 30px;
    margin: 3px;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

#nav-toggle > div.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.12s, visibility 0.12s;
}

/* переключатель по умолчанию */
#toggle-hamburger {
    padding: 3px;
    flex-direction: column;
    justify-content: space-around;
}

#toggle-hamburger div {
    height: 1px;
    background-color: #333333;
}

/* переключатель при наведенной мыши */
#toggle-arrow {
    justify-content: center;
}

#toggle-arrow > div {
    align-content: center;
}

#toggle-arrow > div > div {
    height: 1px;
    width: 12px;
    margin: 7px 0;
    background-color: #333333;
}

#toggle-arrow > div > div:first-of-type {
    transform: rotate(45deg);
}

#toggle-arrow > div > div:last-of-type {
    transform: rotate(-45deg);
}

/* при зафиксированном окне навигации */
#toggle-cross {
    justify-content: center;
    align-items: center;
}

#toggle-cross::before,
#toggle-cross::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: #333333;
}

#toggle-cross::before {
    transform: rotate(45deg);
}

#toggle-cross::after {
    transform: rotate(-45deg);
}

/* иконка пользователя справа шапки */
#user-icon {
    text-align: center;
    cursor: pointer;
}

#user-icon span {
    display: inline-block;
    width: 36px;
    height: 36px;

    line-height: 36px;

    border: 1px solid #333333;
    border-radius: 50%;

    pointer-events: none;
    transition: 0.2s;
}

#user-icon:hover span {
    color: rgba(51, 51, 51, 0.5);
    background-color: rgba(51, 51, 51, 0.1);
    border-color: rgba(51, 51, 51, 0.5);
}

/* меню пользователя, по умолчанию скрыто */
/* возникает при нажатии на иконку */
#header-user-menu {
    position: absolute;

    min-width: 210px;
    padding: 10px;

    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 20px 26px 16px rgba(51, 51, 51, 0.1);

    visibility: hidden;
    opacity: 0;
    transform: translate(calc(-100% + 42px), 10px);

    transition: 0.08s;
}

#header-user-menu.active {
    z-index: 1;

    visibility: visible;
    opacity: 1;
    transform: translate(calc(-100% + 36px), 16px);

    transition: 0.12s;
}

#header-user-menu li:first-child {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

#header-user-menu li:last-child {
    border-top: 1px solid rgba(51, 51, 51, 0.3);
}

.header-menu-link {
    display: block;
    margin: 5px 0;
    padding: 5px 16px;

    line-height: 30px;

    color: #333333;
    border-radius: 5px;
}

.header-menu-link:hover,
#header-user-menu button:hover {
    color: rgba(51, 51, 51, 0.5);
    background-color: rgba(51, 51, 51, 0.1);
}

/* кнопка выхода из системы внутри меню пользователя */
#nav-logout-button {
    width: 100%;
    margin: 5px 0;
    padding: 5px 16px;
    text-align: left;

    font-size: 16px;
    line-height: 30px;

    color: #333333;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

#nav-logout-button:hover {
    color: rgba(51, 51, 51, 0.5);
}

/* ссылка на форму входа в систему */
#signup-link {
    color: #f4f4f4;
    background-color: #333333;
    border-radius: 30px;
}

#signup-link:hover {
    background-color: #ffba60;
}

/* мобильный */
@media (max-width: 576px) {
    #nav-toggle {
        display: block;
    }

    #nav-left {
        position: fixed;
        top: 0;
        left: -300px;

        width: 240px;
        max-width: calc(100% - 34px);
        height: 100%;
        padding: 69px 16px 0 16px;

        background: #f4f4f4;
        border-radius: 0 0 10px;
        box-shadow: 0 20px 26px 16px rgba(51, 51, 51, 0.1);

        transition: left 0.4s;
    }

    #nav-left.active {
        left: 0;
    }

    #nav-left .header-nav-li {
        display: block;
        margin-right: 0;
    }

    #nav-left .header-nav-li:first-child {
        border-top: 1px solid rgba(51, 51, 51, 0.3);
    }

    #nav-left .header-nav-li:last-child {
        border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    }

    #nav-left .header-nav-a {
        display: block;
        padding: 5px 16px;
        margin: 5px 0;
        border-radius: 5px;
    }

    #nav-left .header-nav-a:hover {
        background-color: rgba(51, 51, 51, 0.1);
    }

    body:has(#nav-left.active) {
        overflow: hidden;
    }
}

footer {
    padding: 10px 0;
    text-align: center;
    line-height: 30px;
    background: linear-gradient(150deg, #ced4da 0%, #e0e4e8 75%);
}