.account-content-wrapper {
    display: flex;
    gap: 48px;
    max-width: 1140px;
    margin: 32px auto 48px;
    padding: 0 16px;
}

.account-content-wrapper button {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;

    color: #f4f4f4;
    background-color: #333333;
}

.account-content-wrapper input,
.account-content-wrapper textarea {
    font-family: Roboto, Arial, sans-serif;
}

/*  ================================
 *  Редактирование профиля
 *  ================================
*/

/* навигационное меню */
#account-space-nav {
    flex: 1 0;
}

#account-space-nav li {
    margin-bottom: 5px;
}

#account-space-nav li:last-child {
    margin-bottom: 0;
}

.edit-profile-link {
    display: block;
    padding: 5px 0 5px 16px;

    line-height: 30px;

    border-radius: 5px;
    color: #333333;
}

.edit-profile-link:hover {
    color: #888888;
    background-color: #dddddd;
}

#current-edit-page > div {
    float: left;

    height: 40px;
    width: 4px;

    background-color: #888888;
    border-radius: 5px 0 0 5px;
}

#current-edit-page .edit-profile-link {
    color: #888888;
    background-color: #dddddd;
}

/* пространство редактирования */
#account-space-edit {
    flex: 3 0;
}

.data-editing-form {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 640px;
}

/* блок с полями ввода */
.account-dataset {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 0;
}

.account-dataset > p {
    display: flex;
    flex-direction: column;
}

.account-dataset > p > label {
    padding: 10px 0;

    font-size: 14px;
    line-height: 1.2;

    color: rgba(51, 51, 51, 0.75);
}

.account-dataset textarea,
.account-dataset > p > input {
    width: 100%;
    padding: 10px;

    font-size: 16px;

    background: #e0e4e8;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.account-dataset textarea {
    width: 100%;
    height: 128px;

    color: #333333;

    resize: none;
}

.account-dataset textarea:active,
.account-dataset textarea:focus,
.account-dataset > p > input:active,
.account-dataset > p > input:focus {
    border-color: #333333;
}

/* кнопка отправки формы */
.data-editing-form button[type="submit"] {
    width: 100%;
    padding: 16px;

    border: none;
    border-radius: 30px;

    user-select: none;
}

.data-editing-form button[type="submit"]:hover,
.data-editing-form button[type="submit"]:active {
    color: #333333;
    background-color: #ffba60;
}

.data-editing-form button[type="submit"]:focus:not(:checked) {
    background-color: #333333;
}

/* ..edit-profile */
/* блок с кнопками */
#profile-edit-buttons {
    display: flex;
    width: 100%;
    gap: 8px;
}

#profile-edit-buttons * {
    flex: 1 0 calc(50% - 4px);
}

#reset-edited-data {
    font-size: 16px;

    color: #333333;
    background-color: #f4f4f4;
    border: 1px solid #333333;
    border-radius: 30px;

    transition: 0.2s;

    cursor: pointer;
    user-select: none;
}

#reset-edited-data:hover,
#reset-edited-data:active {
    background-color: #dddddd;
}

#reset-edited-data:focus:not(:checked) {
    background-color: #f4f4f4;
}

/* подсветка измененных полей */
.account-dataset .modified {
    border-color: slateblue;
}

.account-dataset p:has(.modified) label {
    color: slateblue;
}

.account-dataset .modified:focus,
.account-dataset .modified:active {
    border-color: darkslateblue;
}

/* блок выбора интересов */
.account-dataset #id_interests {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 8px;
}

.account-dataset #id_interests input {
    position: absolute;
    z-index: -10;
    opacity: 0;
}

.account-dataset #id_interests label {
    display: flex;
    padding: 8px 10px;
    gap: 8px;

    background-color: #e0e4e8;
    border-radius: 10px;

    transition: 0.2s;

    cursor: pointer;
    user-select: none;
}

.account-dataset #id_interests label:hover {
    background-color: #d7dce1;
}

.account-dataset #id_interests label:has(input:checked) {
    background-color: #ced4da;
}

.account-dataset #id_interests label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;

    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border: 1px solid #333333;
    border-radius: 0.25em;

    transition: background-color 0.2s;
}

.account-dataset #id_interests label:has(input:checked)::before {
    background-color: #333333;
    background-image: url('../img/checkmark.png');
}

/* блок изменения пароля */
.account-dataset label:has(.password-view-toggle) {
    display: flex;
}

/* глаз-тогл */
.password-view-toggle {
    content: '';
    width: 1.2em;
    height: 1.2em;
    margin-left: auto;
    flex-shrink: 0;
    flex-grow: 0;

    background-image: url('../img/hidden.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    transition: 0.2s;

    cursor: pointer;
}

.password-view-toggle.shown {
    background-image: url('../img/view.png');
}

/* блок сервисов преподавателей */
#service-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 640px;
}

#service-list .one-edit-service {
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;

    background-color: rgba(221, 221, 221, 0.25);
}

#service-list .edit-service-name {
    align-self: center;
}

#service-list .delete-service-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;

    font-size: 14px;

    user-select: none;
}

#service-list .delete-service-button:hover,
#service-list .delete-service-button:active {
    background-color: #888888;
}

/* кнопка, открывающая форму создания сервиса */
#show-service-button {
    padding: 8px 16px;
    width: fit-content;

    background-color: #f4f4f4;
    border: 1px solid #333333;
    border-radius: 5px;

    transition: 0.2s;

    user-select: none;
    cursor: pointer;
}

#show-service-button:hover,
#show-service-button:active {
    background-color: #dddddd;
}

#show-service-button button:focus:not(:checked) {
    background-color: #f4f4f4;
}

/* диалоговые окна */
#create-service-dialog,
#delete-service-dialog {
    position: absolute;

    margin: auto;

    background: none;
    border: none;

    overflow: visible;
}

#create-service-dialog::backdrop,
#delete-service-dialog::backdrop {
    background: rgba(51, 51, 51, 0.25);
}

/* тело диалогового окна */
#create-service-form,
#delete-service-form {
    padding: 16px;

    color: #333333;
    background-color: #f4f4f4;
    border: 1px solid #333333;
    border-radius: 10px;
}

#create-service-form h3 {
    padding-bottom: 0;
}

#delete-service-form span {
    display: inline-block;
    max-width: 480px;
}

/* кнопка закрытия формы, форма создания сервиса */
#close-service-form button {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 16px;

    background: none;
    border: none;

    transform: translateY(calc(100% + 16px));
}

#close-service-form button:focus-visible {
    outline: none;
}

/* крестик */
#dialog-cross {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

#dialog-cross::before,
#dialog-cross::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;

    background-color: #333333;

    transition: background-color 0.2s;
}

#dialog-cross::before {
    transform: rotate(45deg);
}

#dialog-cross::after {
    transform: rotate(-45deg);
}

#close-service-form button:hover ::before,
#close-service-form button:hover ::after {
    background-color: #888888;
}

/* блок с кнопками, форма удаления сервиса */
#delete-service-buttons {
    display: flex;
    margin-top: 16px;
    gap: 8px;
}

#delete-service-buttons button {
    flex: 1 0 calc(50% - 4px);
    padding: 8px 0;

    border: 1px solid #333333;
    border-radius: 5px;

    user-select: none;
}

#delete-service-buttons button:first-of-type {
    color: #333333;
    background-color: #f4f4f4;
}

#delete-service-buttons button:first-of-type:hover,
#delete-service-buttons button:first-of-type:active {
    background-color: #dddddd;
}

#delete-service-buttons button:last-of-type:hover,
#delete-service-buttons button:last-of-type:active {
    background-color: #888888;
    border-color: #888888;
}

#current-service-name {
    font-weight: bolder;
    color: #ffba60;
}

/*  ================================
 *  Страница публичного профиля
 *  ================================
*/

.data-view-container {
    display: flex;
    flex-grow: 1;
    gap: 32px;
}

/* блок с аватаркой и функционалом */
#summary-dataset {
    flex: 1 0;
}

#summary-dataset img {
    border-radius: 50%;
}

.goto-egit-page,
.add-remove-user {
    display: block;
    padding: 5px;
    margin-top: 1em;
    text-align: center;

    line-height: 30px;

    color: #333333;
    background-color: rgba(221, 221, 221, 0.5);
    border: 1px solid rgba(51, 51, 51, 0.25);
    border-radius: 5px;
}

.goto-egit-page:hover,
.add-remove-user:hover {
    background-color: #dddddd;
}

/* данные пользователя */
#main-dataset {
    flex: 3 0;
}

#main-dataset h2 {
    margin-bottom: 0;
}

/* единица данных пользователя */
.profile-block {
    padding: 16px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
}

.profile-block:last-of-type {
    border: none;
}

/* контакты */
.profile-connect {
    display: flex;
}

.profile-connect::before {
    content: '';
    width: 1em;
    height: 1em;
    margin: auto 1em auto 0;
    flex-shrink: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile-connect#profile-email::before {
    background-image: url('../img/email.png');
}

.profile-connect#profile-phone::before {
    background-image: url('../img/phone.png');
}

.profile-connect a {
    color: slateblue;
}

/* интересы */
#profile-interests-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.profile-interest-name {
    padding: 8px 10px;
    background-color: #dddddd;
    border-radius: 10px;
}

/* сервисы */
#profile-service-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 14px;
}

.one-profile-service {
    display: flex;
    padding: 3px 8px;
    gap: 8px;

    background-color: rgba(221, 221, 221, 0.25);
}

.one-profile-service > div {
    padding: 8px 0;
    line-height: 1;
    word-break: break-all;
}

.profile-service-name {
    flex: 1;
    font-weight: bolder;
    color: #ffba60;
}

.profile-service-desc {
    flex: 3;
}

.profile-service-price {
    flex: 1;
}

.profile-service-duration {
    flex: 1;
    text-align: end;
}

@media (max-width: 1140px) {
    .account-content-wrapper {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .account-content-wrapper {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .account-content-wrapper {
        max-width: 576px;
        flex-direction: column;
    }

    .data-view-container {
        flex-direction: column;
    }

    #summary-dataset {
        padding-bottom: 16px;
    }

    #summary-dataset img {
        max-width: 24vw;
    }
}

/* напоминание о незаполненном профиле */
/* для преподавателей */
#fill-profile-notification {
    padding: 10px;
    margin-top: 16px;

    color: indianred;
    background-color: rgba(205, 92, 92, 0.1);
    border: 1px solid indianred;
    border-radius: 5px;
}