.account-content-wrapper {
    margin: 64px auto auto;
    padding: 0 16px;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
#account-space-nav {
    flex: 1 0;
}
#account-space-nav a {
    display: block;
    line-height: 30px;
    padding: 5px 0 5px 16px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #333;
}
#account-space-nav li:last-child a {
    margin-bottom: 0;
}
#account-space-nav a:hover {
    color: #94938a;
    background-color: #ddd;
}
#current-edit-page div {
    float: left;
    height: 40px;
    width: 4px;
    background-color: #94938a;
    border-radius: 5px 0 0 5px;
}
#current-edit-page a {
    color: #94938a;
    background-color: #ddd;
}
#account-space-edit {
    flex: 3 0;
}
.data-editing-form {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 64px;
}
.data-editing-form button[type="submit"] {
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1;
    padding: 16px;
    width: 100%;
}
.data-editing-form button[type="submit"]:hover,
.data-editing-form button[type="submit"]:focus {
    background-color: #94938a;
}
.account-dataset {
    flex: 1 0;
}
.account-dataset#main-dataset {
    flex-grow: 3;
}
.account-dataset span {
    display: inline-block;
    padding-bottom: 16px;
}
.account-dataset p:has(label + input) {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.account-dataset p:has(label + input):last-child {
    margin-bottom: 0;
}
.account-dataset input {
    background: transparent;
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.account-dataset input:not([disabled]):active,
.account-dataset input:not([disabled]):focus {
    border-color: #333;
}
.account-dataset label {
    padding: 10px 0;
    line-height: normal;
    pointer-events: none;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.75);
}
.account-dataset a {
    display: block;
    line-height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    background-color: rgba(221, 221, 221, 0.6);
    border: 1px solid rgba(51, 51, 51, 0.3);
}
.account-dataset a:hover {
    background-color: #ddd;
}
#summary-dataset {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#summary-dataset img {
    border-radius: 50%;
}
#summary-dataset h3 {
    color: darkgoldenrod;
}

@media (max-width: 1140px) {
    .account-content-wrapper {
        max-width: 992px;
    }
}
@media (max-width: 992px) {
    .account-content-wrapper {
        max-width: 768px;
    }
}
@media (max-width: 768px) {
    .account-content-wrapper {
        max-width: 576px;
        flex-direction: column;
    }
    .account-content-wrapper:has(#main-dataset) .data-editing-form {
        flex-direction: column;
    }
    #summary-dataset {
        flex-direction: row;
        padding-bottom: 16px;
    }
    #summary-dataset img {
        max-width: 24vw;
    }
    #summary-dataset h3 {
        align-self: center;
        padding: 0;
    }
}

.account-content-wrapper .helptext {
    display: none;
    /*padding: 10px 0 0;
    font-size: 12px;
    line-height: normal;
    color: rgba(51, 51, 51, 0.5);*/
}

.data-editing-form input.modified {
    border-color: slateblue;
}
.data-editing-form p:has(input.modified) label {
    color: slateblue;
}
.data-editing-form input.modified:focus,
.data-editing-form input.modified:active {
    border-color: darkslateblue;
}