#user-list-content-wrapper {
    margin: 16px auto;
    padding: 0 16px;
    max-width: 1140px;
}

/*=======================================*/
/****      список преподавателей      ****/
/*=======================================*/

#user-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    text-align: center;
    margin: 16px;
}

.user-list-content {
    width: 216px;
    height: fit-content;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 10px;
}

.user-list-content a {
    color: #333;
}

.user-list-link {
    padding: 8px 8px 0;
    border-radius: 10px;
    transition: .2s;
}

.user-list-avatar {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 auto;
}

.user-list-info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3em;
    margin: 8px 0;
}

.user-list-info .teacher-subject {
    margin-right: 4px;
}

.user-list-info .teacher-subject:last-of-type {
    margin-right: 0;
}

.user-list-info.overflow-data {
    -webkit-line-clamp: 2;
}

.user-list-info.overflow-data .teacher-subject {
    margin: 0;
}

.user-list-button {
    display: inline-block;
    padding: 8px 32px;
    line-height: 30px;
    border: 1px solid #333;
    border-radius: 30px;
    margin: 8px;
}

.user-list-link:hover,
.user-list-link:focus,
.user-list-button:hover,
.user-list-button:focus {
    background-color: #ddd;
}

/*=======================================*/
/****              поиск              ****/
/*=======================================*/

#teacher-list-operate{
    display: flex;
    align-items: center;
    gap: 16px;
}

#teacher-list-search {
    flex: 1;
}

#teacher-list-search input[type=search] {
    background: transparent;
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 30px;
    padding: 10px 16px;
    font-size: 16px;
    margin: 16px 0;
    width: 100%;
}

#teacher-list-search input[type=search]:active,
#teacher-list-search input[type=search]:focus {
    border-color: #333;
}

.hidden-teacher-container {
    display: none;
}

@media (max-width: 1140px) {
    #user-list-content-wrapper {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    #user-list-content-wrapper {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    #user-list-content-wrapper {
        max-width: 576px;
    }
}

/*======================================*/
/****             фильтр             ****/
/*======================================*/

#teacher-list-filter input {
    position: absolute;
    opacity: 0;
    z-index: -10;
}

#teacher-list-filter label {
    display: flex;
    width: fit-content;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 8px;
}

#teacher-list-filter label:last-of-type {
    margin-bottom: 0;
}

#teacher-list-filter label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #94938a;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: .2s;
}

#teacher-list-filter label:has(input:checked)::before {
    background-color: #94938a;
    background-image: url('../img/checkmark.png');
}

#filter-toggle,
#filter-close {
    display: none;
    cursor: pointer;
    transition: .2s;
}

#filter-toggle {
    height: 36px;
    width: 36px;
    background-image: url('../img/filter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#filter-close {
    float: right;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

#filter-container {
    float: left;
    margin-right: 16px;
    transition: .2s;
}

#filter-container p {
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    #teacher-list-search {
        display: inline-block;
    }

    #filter-toggle,
    #filter-close {
        display: inline-block;
    }

    #filter-container {
        position: fixed;
        transform: translateY(100%);
        left: 0;
        width: 100%;
        padding: 16px 0 100vh;
        background: rgba(244, 244, 244, 0.9);
        border-top: 1px solid rgba(51, 51, 51, 0.9);
    }

    #filter-container.active {
        transform: none;
    }

    body:has(#filter-container.active) {
        overflow: hidden;
    }

    #teacher-list-filter {
        width: 544px;
        max-width: calc(100vw - 32px);
        margin: auto;
    }
}