#user-list-content-wrapper {
    margin: 16px auto;
    padding: 0 16px;
    max-width: 1140px;
}

/* список пользователей */
#user-list-container {
    display: flex;
    padding: 16px 16px 24px;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
    justify-content: center;

    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 10px;
}

/* карточка пользователя */
.user-list-content {
    width: 216px;
    padding: 8px;

    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 10px 26px 1px rgba(51, 51, 51, 0.1);
}

/* ссылки */
.user-list-content a {
    color: #333333;
}

.user-list-link {
    padding: 8px 8px 0;
    border-radius: 10px;
    transition: 0.2s;
}

/* ссылка на чат */
.user-list-chat {
    display: inline-block;
    padding: 5px 32px;
    margin: 8px;

    line-height: 30px;

    border: 1px solid #333333;
    border-radius: 30px;

    transition: 0.2s;
}

.user-list-link:hover,
.user-list-link:focus,
.user-list-chat:hover,
.user-list-chat:focus {
    background-color: #dddddd;
}

/* аватар */
.user-list-avatar {
    width: 100px;
    height: 100px;
    background-color: #333333;
    border-radius: 50%;
    margin: 0 auto;
}

/* блок с данными - ФИО и интересы */
.user-list-info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3em;
    margin: 8px 0;
}

.user-list-info .teacher-subject {
    margin-right: 4px;
}

.user-list-info .teacher-subject:last-of-type {
    margin-right: 0;
}

.user-list-info.overflow-data {
    -webkit-line-clamp: 2;
}

.user-list-info.overflow-data .teacher-subject {
    margin: 0;
}

/* поиск */
#teacher-list-operate {
    display: flex;
    gap: 16px;
    align-items: center;
}

#teacher-list-search {
    flex: 1;
}

#teacher-list-search input {
    width: 100%;
    padding: 10px 16px;
    margin: 16px 0;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;

    background: transparent;
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 30px;
}

#teacher-list-search input:active,
#teacher-list-search input:focus {
    border-color: #333333;
}

#teacher-list-search input:-webkit-autofill,
#teacher-list-search input:-webkit-autofill:hover,
#teacher-list-search input:-webkit-autofill:focus,
#teacher-list-search input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #f4f4f4 inset !important;
}

.hidden-by-search,
.hidden-by-filter {
    display: none;
}

/* фильтр */
#filter-container {
    float: left;
    width: 180px;
    margin-right: 16px;
    transition: 0.2s;
}

#filter-container p {
    margin: 0 0 3px 3px;
}

#teacher-list-filter input {
    position: absolute;
    z-index: -10;
    opacity: 0;
}

#teacher-list-filter label {
    display: flex;
    padding: 8px 0 8px 3px;
    margin-bottom: 3px;
    gap: 8px;

    border-radius: 10px;

    cursor: pointer;
    user-select: none;

    transition: 0.2s;
}

#teacher-list-filter label:last-of-type {
    margin-bottom: 0;
}

#teacher-list-filter label:hover {
    color: #888888;
}

#teacher-list-filter label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;

    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border: 1px solid #333333;
    border-radius: 0.25em;

    transition: background-color 0.2s;
}

#teacher-list-filter label:has(input:checked)::before {
    background-color: #333333;
    background-image: url('../img/checkmark.png');
}

/* адаптивный */
#filter-toggle,
#filter-close {
    display: none;
    cursor: pointer;
    transition: 0.2s;
}

/* кнопка открытия фильтра */
#filter-toggle {
    height: 36px;
    width: 36px;

    background-image: url('../img/filter.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#filter-toggle:hover {
    background-color: #dddddd;
    opacity: 0.75;
}

/* кнопка закрытия фильтра */
#filter-close {
    float: right;

    width: 24px;
    height: 24px;
    margin: 3px;
    justify-content: center;
    align-items: center;
}

#filter-close::before,
#filter-close::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 20px;

    background-color: #333333;

    transition: background-color 0.2s;
    pointer-events: none;
}

#filter-close::before {
    transform: rotate(45deg);
}

#filter-close::after {
    transform: rotate(-45deg);
}

#filter-close:hover::before,
#filter-close:hover::after {
    background-color: #888888;
}

@media (max-width: 1140px) {
    #user-list-content-wrapper {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    #user-list-content-wrapper {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    #user-list-content-wrapper {
        max-width: 576px;
    }

    #filter-container {
        position: fixed;
        top: 100%;
        left: 0;

        width: 100%;
        padding: 16px 0 100vh;

        background-color: #f4f4f4;
    }

    #filter-container.active {
        top: 0;
        z-index: 20;
    }

    #teacher-list-filter {
        width: 544px;
        max-width: calc(100vw - 32px);
        margin: auto;
    }

    #filter-toggle {
        display: inline-block;
    }

    #filter-close {
        display: flex;
    }

    body:has(#filter-container.active) {
        overflow: hidden;
    }
}

.favorite-link {
    color: #ffba60;
}

.favorite-link:hover {
    color: rgba(255, 186, 96, 0.6);
}