#teacher-list-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    padding: 0 16px;
    max-width: 1140px;
    gap: 16px;
}

/* Центрирование карточек */
ul#teacher-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

/* Стили для карточек преподавателей */
.teacher-container {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

/* Убираем отступ справа для последней карточки в ряду */
.teacher-container:last-child {
    margin-right: 0;
}

.teacher-avatar {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    margin-bottom: 20px;
}

.teacher-name,
.teacher-subjects,
.teacher-button {
    text-align: center;
}

.teacher-button {
    z-index: 100;
    display: inline-block;
    padding: 8px 32px;
    margin-top: 18px;
    color: #333;
    line-height: 30px;
    border: 1px solid #333;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.teacher-button:hover {
    background-color: #ddd;
}


#teacher-list-search input[type=search] {
    background: transparent;
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
#teacher-list-search input[type=search]:active,
#teacher-list-search input[type=search]:focus {
    border-color: #333;
}
.hidden {
    display: none;
}


@media (max-width: 1140px) {
    #teacher-list-content-wrapper {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    #teacher-list-content-wrapper {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    #teacher-list-content-wrapper {
        max-width: 576px;
    }
}