{% load i18n %}
<!-- templates/base.html -->
{% load static %}
<html>
<head>
    {# кодировка текста #}
    <meta charset="utf-8">
    {# ширина документа по ширине экрана #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bases.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile-settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher_list.css' %}">
</head>
<body>
{% block header %}
    <header>
        <nav class="header-nav">
            <div id="nav-toggle">
                <div id="toggle-hamburger" class="active">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="toggle-arrow">
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div id="toggle-cross"></div>
            </div>
            <ul id="nav-left">
                <li class="header-nav-li">
                    <a class="header-nav-a" href="{% url 'home' %}">Homepage</a>
                </li>
                <li class="header-nav-li">
                    <a class="header-nav-a" href="{% url 'teacher_list' %}">Teachers</a>
                </li>
            </ul>
            <ul id="nav-right">
                {% if request.user.is_authenticated %}
                    <li class="header-nav-li">
                        <div id="user-icon">
                            {% if request.user.picture %}
                                <img src="{{ request.user.picture.url }}">
                            {% else %}
                                blank
                            {% endif %}
                        </div>
                        <ul id="header-user-menu">
                            <li>
                                {% if request.user.is_student %}
                                    <a class="header-menu-link" href="{% url 'student_profile' request.user.id %}">
                                {% else %}
                                    <a class="header-menu-link" href="{% url 'teacher_profile' request.user.id %}">
                                {% endif %}
                                My profile</a>
                            </li>
                            <li>
                                {% if request.user.is_student %}
                                    <a class="header-menu-link" href="{% url 'favorite_teachers_list' %}">
                                        My teachers</a>
                                {% else %}
                                    <a class="header-menu-link" href="{% url 'favorite_students_list' %}">
                                        My students</a>
                                {% endif %}
                            </li>
                            {% comment %}<li>
                                {% if request.user.is_student %}<a href="/">
                                {% else %}<a href="/">
                                {% endif %}
                                My schedule</a>
                            </li>
                            <li>
                                {% if request.user.is_student %}<a href="/">
                                {% else %}<a href="/">
                                {% endif %}
                                My homework</a>
                            </li>{% endcomment %}
                            <li>
                                <form id="logout-form" method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button id="nav-logout-button" type="submit">
                                        {% translate "Logout" %}
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="header-nav-li">
                        <a class="header-nav-a" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="header-nav-li">
                        <a class="header-nav-a" id="signup-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% endblock header %}
<main>
    {% block content %}
    {% endblock content %}
</main>
{% block footer %}
    <footer>
        &copy; 2024 DjangoBlockchained.
    </footer>
{% endblock footer %}
<script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
</body>
</html>