{% load i18n %}
<!-- templates/base.html -->
{% load static %}
<html>
<head>
    {# кодировка текста #}
    <meta charset="utf-8">
    {# ширина документа по ширине экрана #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoBlockchained</title>
    <link rel="stylesheet" href="{% static 'css/bases.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile-settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher_list.css' %}">
</head>
<body>
{% block header %}
    <header>
    <nav class="header-nav">
        <div id="nav-toggle">
            <div id="toggle-hamburger" class="active">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="toggle-arrow">
                <div><div></div><div></div></div>
                <div><div></div><div></div></div>
            </div>
            <div id="toggle-cross"></div>
        </div>
        <ul id="nav-left">
            <li>
                <a href="{% url 'home' %}">Homepage</a>
            </li>
            <li>
                <a href="{% url 'teacher_list' %}">Teachers</a>
            </li>
        </ul>
        <ul id="nav-right">
            {% if user.is_authenticated %}
                <li>
                    <div id="user-icon">
                        <span></span>
                    </div>
                    <script>
                        document.querySelector('#user-icon span').textContent = '{{ user.username }}'[0];
                    </script>
                    <ul id="header-user-menu">
                        <li>
                            {% if user.is_student %}<a href="{% url 'student_profile' user.id %}">
                            {% else %}<a href="{% url 'teacher_profile' user.id %}">
                            {% endif %}
                            Your profile</a>
                        </li>
                        <li>
                            <a href="/">Your teachers</a>
                        </li>
                        <li>
                            <a href="/">Your schedule</a>
                        </li>
                        <li>
                            <a href="/">Your homework</a>
                        </li>
                        <li>
                            <form id="logout-form" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button id="nav-logout-button" type="submit">
                                    {% translate "Logout" %}
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                <li>
                    <a id="signup-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    </header>
{% endblock header %}
<main>
{% block content %}
{% endblock content %}
</main>
{% block footer %}
    <footer>
        &copy; 2024 Django Blockchained.
    </footer>
{% endblock footer %}
<script type="text/javascript" src={% static 'scripts/main.js' %}></script>
</body>
</html>