{% extends 'base.html' %}
{% block title %}Update services{% endblock title %}
{% block content %}
    <div class="account-content-wrapper">
        <div id="account-space-nav">
            <ul>
                <li><a class="edit-profile-link" href="{% url 'teacher_profile_edit' user.id %}">Edit profile</a></li>
                <li><a class="edit-profile-link" href="{% url 'teacher_interests' %}">Update interests</a></li>
                <li id="current-edit-page">
                    <div></div>
                    <a class="edit-profile-link" href="{% url 'teacher_services' %}">Update services</a>
                </li>
                <li><a class="edit-profile-link" href="{% url 'password_change' %}">Change password</a></li>
            </ul>
        </div>
        <div id="account-space-edit">
            <h3>Update services</h3>
            <div id="service-list">
                {% for service in request.user.teacher.service_set.all %}
                    <div class="one-edit-service">
                        <label class="edit-service-name">{{ service.name }}</label>
                        <form data-service="{{ service.name }}" method="post"
                              action="{% url 'delete_service' service.pk %}">
                            {% csrf_token %}
                            <button data-action="deletion" class="delete-service-button" type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                {% endfor %}
                <div data-action="creation" id="show-service-button">Add service</div>
            </div>
            <dialog id="create-service-dialog">
                <form id="close-service-form" method="dialog">
                    <button><span id="dialog-cross"></span></button>
                </form>
                <form id="create-service-form" class="data-editing-form" action="" method="post">
                    <div class="account-dataset">
                        <h3>Add service</h3>
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-success ml-2" type="submit">Save</button>
                </form>
            </dialog>
            <dialog id="delete-service-dialog">
                <div id="delete-service-form">
                    <span>Are you sure you want to delete the service 
                        <span id="current-service-name"></span>?
                    </span>
                    <form method="dialog">
                        <div id="delete-service-container">
                            <button>Cancel</button>
                            <button id="confirm-delete-button">Delete</button>
                        </div>
                    </form>
                </div>
            </dialog>
        </div>
    </div>
    <script>
        let createServiceDialog = document.getElementById('create-service-dialog');
        let deleteServiceDialog = document.getElementById('delete-service-dialog');
        let currentServiceName = document.getElementById('current-service-name');
        let currentDeleteForm;

        class serviceMenu {
            constructor(elem) {
                elem.onclick = this.onClick.bind(this);
            }

            creation() {
                createServiceDialog.showModal();
            }

            deletion(event) {
                currentDeleteForm = event.target.closest('form');
                currentServiceName.textContent = currentDeleteForm.dataset.service;
                deleteServiceDialog.showModal();
                event.preventDefault();
            }

            onClick(event) {
                let action = event.target.dataset.action;
                action ? this[action](event) : 0;
            }
        }

        let serviceList = document.getElementById('service-list');
        new serviceMenu(serviceList);

        let confirmDeleteButton = document.getElementById('confirm-delete-button');
        confirmDeleteButton.addEventListener('click', () => {
            currentDeleteForm.submit();
        });
    </script>
{% endblock content %}
{% block footer %}{% endblock footer %}