<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for service in request.user.teacher.service_set.all %}
    <li> {{ service.name }} </li>
    <form method="post" action="{% url 'delete_service' service.pk %}">
        {% csrf_token %}
        <button id="nav-logout-button" type="submit">
            delete
        </button>
    </form>



{% endfor %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit">Save</button>
</form>
</body>
</html>