{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="user-list-content-wrapper">
        <h1>My teachers</h1>
        <ul id="user-list-container">
            {% for teacher in teachers %}
                <li>
                    <a class="user-list-container" href="{% url 'teacher_profile' teacher.user.id %}">
                        <div class="user-list-avatar"></div>
                        <div>
                            <span class="teacher-name">
                                {{ teacher.user.first_name }} {{ teacher.user.second_name }}
                            </span>
                            <div class="teacher-subjects">
                                {% for subject in teacher.interests.all %}
                                    <span id="teacher-subject">{{ subject.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    <div>
                        <a class="user-list-button" href="/">Chat</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}