{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <section id="billboard">
        <div class="homepage-content-wrapper">
            <div class="homepage-content-spacing" id="usp">
                <h1>We bring all your tasks and tools together</h1>
                <p>Global e-learning platform that offers anyone, anywhere access to online education.</p>
                {% if user.is_authenticated %}
                    <a class="homepage-link" href="{% url 'home' %}">Get started</a>
                {% else %}
                    <a class="homepage-link" href="{% url 'login' %}">Get started</a>
                {% endif %}
            </div>
            <div class="homepage-content-spacing" id="poster"><img src="{% static 'img/img1.jpg' %}"></div>
        </div>
    </section>
    <div class="homepage-spacer"></div>
    <section class="hidden-dynamic-up" id="services-title">
        <div class="homepage-content-wrapper">
            <div class="homepage-content-spacing">
                <h2>Our educational offerings</h2>
                <p>Empowering students with tailored learning solutions.</p>
            </div>
        </div>
    </section>
    <section class="hidden-dynamic-up" id="services">
        <div class="homepage-content-wrapper">
            <div class="homepage-content-spacing proposition">
                <div class="proposition-img"><img src="{% static 'img/icon1.png' %}"></div>
                <h3>Personalized Tutoring</h3>
                <span>Offer students the opportunity 
                    to book personalized tutoring sessions with specialized tutors 
                    in various subjects tailored to their individual learning needs.</span>
            </div>
            <div class="homepage-content-spacing proposition">
                <div class="proposition-img"><img src="{% static 'img/icon2.png' %}"></div>
                <h3>Exam Preparation</h3>
                <span>Provide intensive preparation courses 
                    for standardized tests to help students achieve their target scores 
                    and open up new professional opportunities.</span>
            </div>
            <div class="homepage-content-spacing proposition">
                <div class="proposition-img"><img src="{% static 'img/icon3.png' %}"></div>
                <h3>Academic Coaching</h3>
                <span>Provide academic coaching and mentoring programs 
                    to help students develop effective study skills and learning strategies 
                    for academic success.</span>
            </div>
        </div>
    </section>
    <div class="homepage-spacer"></div>
    <section class="hidden-dynamic-up" id="about">
        <div class="homepage-content-wrapper">
            <div class="homepage-content-spacing" id="tutors-picture"><img src="{% static 'img/img2.jpg' %}"></div>
            <div class="homepage-content-spacing" id="tutors-work">
                <h2>Bringing the knowledge gap</h2>
                <p>Our community of educators share their expertise,
                    connect with eager students, and create personalized learning experiences.</p>
                <a class="homepage-link" href="{% url 'teacher_list' %}">Meet with tutors</a>
            </div>
        </div>
    </section>
    <div class="homepage-spacer"></div>
    <section class="hidden-dynamic-up" id="features-title">
        <div class="homepage-content-wrapper">
            <div class="homepage-content-spacing">
                <h2>Special features for you</h2>
                <p>Solutions for simple and flexible online learning, allowing you to study anywhere and anytime.</p>
            </div>
        </div>
    </section>
    <section class="hidden-dynamic-up" id="features">
        <div class="homepage-content-wrapper">
            <div class="homepage-content-spacing" id="feature-list">
                <div class="feature-point">
                    <div class="feature-icon"><img src="{% static 'img/point1.png' %}"></div>
                    <div>
                        <h3>Communication Tools</h3>
                        <span>Seamless communication between tutors and students during lessons, 
                        answering questions and providing feedback outside scheduled sessions.</span>
                    </div>
                </div>
                <div class="feature-point">
                    <div class="feature-icon"><img src="{% static 'img/point2.png' %}"></div>
                    <div>
                        <h3>Booking and Scheduling System</h3>
                        <span>Calendar-based booking system where tutors can set their availability, 
                        and students can easily schedule lessons based on their preferred time slots.</span>
                    </div>
                </div>
                <div class="feature-point">
                    <div class="feature-icon"><img src="{% static 'img/point3.png' %}"></div>
                    <div>
                        <h3>Progress Tracking</h3>
                        <span>Built-in tools for tutors to track student progress, assess learning outcomes, 
                        and provide personalized feedback and recommendations for improvement.</span>
                    </div>
                </div>
            </div>
            <div class="homepage-content-spacing" id="feature-addition"><img src="{% static 'img/img3.jpg' %}"></div>
        </div>
    </section>
    <div class="homepage-spacer"></div>
    <script>
        {# весь контент, который помещается на странице, будет загружен сразу #}
        window.addEventListener('DOMContentLoaded', () => {
            let dynamicBlocks = document.querySelectorAll('.hidden-dynamic-up');
            dynamicBlocks.forEach(block => {
                let rect = block.getBoundingClientRect();
                if (rect.top < window.innerHeight * 0.8) {
                    block.classList.remove('hidden-dynamic-up');
                } else {
                    return 0;
                }
            });
        });
        {# все остальное возникнет при прокрутке #}
        window.addEventListener('scroll', () => {
            let dynamicBlock = document.querySelector('.hidden-dynamic-up');
            let rect = dynamicBlock.getBoundingClientRect();
            if (rect.top < window.innerHeight * 0.8) {
                dynamicBlock.classList.remove('hidden-dynamic-up');
            }
        });
    </script>
{% endblock content %}