{% extends 'base.html' %}
{% block content %}
    <div class="account-content-wrapper">
        <div id="account-space-nav">
            <ul>
                <li><a href="{% url 'student_profile_edit' user.id %}">Edit profile</a></li>
                <li id="current-edit-page">
                    <div></div>
                    <a href="{% url 'student_interests' %}">Update interests</a>
                </li>
                <li><a href="{% url 'password_change' %}">Change password</a></li>
            </ul>
        </div>
        <div id="account-space-edit">
            <h3 class="mb-3">Update interests</h3>
            <form method="post" class="data-editing-form" novalidate>
                <div class="account-dataset">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock footer %}