{% extends "base.html" %}
{% block content %}
    <div class="account-content-wrapper">
        <div id="account-space-nav">
            <ul>
                <li id="current-edit-page">
                    <div></div>
                    <a class="edit-profile-link" href="{% url 'student_profile_edit' user.id %}">Edit profile</a>
                </li>
                <li><a class="edit-profile-link" href="{% url 'student_interests' %}">Update interests</a></li>
                <li><a class="edit-profile-link" href="{% url 'password_change' %}">Change password</a></li>
            </ul>
        </div>
        <div id="account-space-edit">
            <h3>Edit profile</h3>
            <form action="" method="post" class="data-editing-form">
                <div class="account-dataset">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div id="profile-edit-buttons">
                    <input id="reset-edited-data" type="reset" value="Reset">
                    <button class="btn btn-info ml-2" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let inputs = document.querySelectorAll('.data-editing-form input');
        inputs.forEach(input => {
            let currentValue = input.value;
            input.addEventListener('input', () => {
                if (input.value !== currentValue) {
                    input.classList.add('modified');
                } else {
                    input.classList.remove('modified');
                }
            });
        });

        let inputSchoolName = document.getElementById('id_school_name');

        function FillInSchoolName() {
            inputSchoolName.value = '{{ user.student.school_name }}';
        }

        FillInSchoolName();
        let resetButton = document.querySelector("input[type=reset]");
        resetButton.addEventListener('click', () => {
            inputs.forEach(input => {
                input.classList.contains('modified') ? input.classList.remove('modified') : 0;
            });
            setTimeout(function () {
                FillInSchoolName();
            }, 0);
        });
    </script>
{% endblock content %}
{% block footer %}{% endblock footer %}