{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ user.first_name }} {{ user.second_name }}{% if user.third_name %} {{ user.third_name }} {% endif %}
{% endblock title %}
{% block content %}
    <div class="account-content-wrapper">
        <div class="data-view-container">
            <div id="summary-dataset">
                {% if user.picture %}
                    <img src="{{ user.picture.url }}">
                {% else %}
                    blank
                {% endif %}
                {% if request.user == user %}
                    <a class="goto-egit-page" href="{% url 'student_profile_edit' user.id %}">Edit profile</a>
                {% elif request.user != user and request.user.is_teacher %}
                    {% if user.student in request.user.teacher.favorite_students.all %}
                        <a href="{% url 'remove_from_student_list' user.id %}"
                           class="btn btn-primary add-remove-user">Remove from My students</a>
                    {% else %}
                        <a href="{% url 'add_to_student_list' user.id %}"
                           class="btn btn-primary add-remove-user">Add to My students</a>
                    {% endif %}
                {% endif %}
            </div>
            <div id="main-dataset">
                <h3>
                    {% if request.user == user %}Public
                    {% elif user.is_student %}Student
                    {% endif %}
                    profile
                </h3>
                <h2>{{ user.second_name }} {{ user.first_name }}
                    {% if user.third_name %} {{ user.third_name }} {% endif %}</h2>
                <div class="profile-block">
                    <div class="profile-connect" id="profile-phone">
                        <p><a href="tel:{{ user.phone_number }}">{{ user.phone_number }}</a></p>
                    </div>
                    <div class="profile-connect" id="profile-email">
                        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                    </div>
                </div>
                <div class="profile-block" id="student-school">
                    <h3>Education</h3>
                    <p>{{ user.student.school_name }}</p>
                </div>
                <div class="profile-block">
                    <h3>Interests</h3>
                    <div id="profile-interests-list">
                        {% for subject in user.student.interests.all %}
                            <div class="profile-interest-name">{{ subject.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let phone = document.getElementById('profile-phone');
        '{{ user.phone_number }}' === 'None' ? phone.style.display = 'none' : 0;
        let school = document.getElementById('student-school');
        '{{ user.student.school_name }}' === 'None' ? school.style.display = 'none' : 0;
    </script>
{% endblock %}
{% block footer %}{% endblock footer %}