{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-6">
        <div class="account-content-wrapper">
            <div id="account-space-edit">
                <div class="data-editing-form">
                    <div class="account-dataset">
                        <div id="summary-dataset">
                            {# условно #}
                            <img src="{% static 'img/avatar.jpg' %}">
                            {% if request.user == user %}
                                <a href="{% url 'teacher_profile_edit' user.id %}">Edit profile</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="account-dataset" id="main-dataset">
                        <h3>
                            {% if request.user == user %}Public
                            {% elif user.is_teacher %}Teacher

                            {% endif %}
                            profile
                        </h3>
                        <h2>{{ user.first_name }} {{ user.second_name }} {{ user.third_name }}</h2>
                        <span>@{{ user.username }}</span>
                        <br/>
                        <div class="profile-connect" id="profile-phone" style="display: flex">
                            <p><a href="tel:{{ user.phone_number }}">{{ user.phone_number }}</a></p>
                        </div>
                        <div class="profile-connect" id="profile-email" style="display: flex">
                            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                        </div>
                        <br/><hr><br/>
                        <h3>Services</h3>
                        <ul>
                            {% for service in user.teacher.service_set.all %}
                                <li> {{ service }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock footer %}