{% extends "base.html" %}
{% load static %}
{% block title %}Teachers{% endblock title %}
{% block content %}
    <div id="user-list-content-wrapper">
        <h1>List of teachers</h1>
        <div id="teacher-list-operate">
            <div id="filter-toggle"></div>
            <form id="teacher-list-search">
                <input type="search" id="search" placeholder="Search by name...">
            </form>
        </div>
        <div id="filter-container">
            <form id="teacher-list-filter">
                <div id="filter-close">x</div>
                <p>Search by subjects</p>
                {% for subject in interests %}
                    <label>
                        <input type="checkbox" value="{{ subject }}">{{ subject }}
                    </label>
                {% endfor %}
            </form>
        </div>
        <ul id="user-list-container">
            {% for teacher in teachers %}
                {% if teacher.user.is_complete %}
                    <li>
                        <div class="user-list-content">
                            <div class="user-list-link">
                                <a href="{% url 'teacher_profile' teacher.user.id %}">
                                    <div class="user-list-avatar"></div>
                                    <div class="user-list-info">
                                        <span class="teacher-name">{{ teacher.user.first_name }} {{ teacher.user.second_name }}
                                            {% if teacher.user.third_name %}{{ teacher.user.third_name }}{% endif %}
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="user-list-info">
                                        {% for subject in teacher.interests.all %}
                                            <span class="teacher-subject">{{ subject.name }}</span>
                                        {% endfor %}
                                    </div>
                                </a>
                                <hr style="visibility: hidden">
                            </div>
                            <a class="user-list-button" href="/">Chat</a>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <script>
        function isOverflown(element) {
            return element.scrollHeight > element.clientHeight || element.scrollWidth > element.clientWidth;
        }

        let teacherInfo = document.querySelectorAll('.user-list-info');
        teacherInfo.forEach(data => {
            isOverflown(data) ? data.classList.add('overflow-data') : 0;
        });

        let teachers = document.querySelectorAll('#user-list-container > li');
        let searchInput = document.getElementById('search');
        searchInput.addEventListener('input', function () {
            let currSearch = this.value.toLowerCase();
            teachers.forEach(function (teacher) {
                let teacherName = teacher.querySelector('.teacher-name').innerText.toLowerCase();
                teacherName.includes(currSearch)
                    ? teacher.classList.remove('hidden-teacher-container')
                    : teacher.classList.add('hidden-teacher-container');
            });
        });

        let filterForm = document.getElementById('teacher-list-filter');
        filterForm.addEventListener('change', function () {
            let checkedBoxes = filterForm.querySelectorAll('input[type="checkbox"]:checked');
            let filters = Array.from(checkedBoxes).map(checkbox => checkbox.value.toLowerCase());
            Array.from(teachers).forEach(teacher => {
                let subjects = teacher.querySelectorAll('.teacher-subject');
                let subjectNames = Array.from(subjects).map(subject => subject.innerText.toLowerCase());
                let isMatch = filters.every(filter => subjectNames.includes(filter));
                filters.length === 0 || isMatch
                    ? teacher.classList.remove('hidden-teacher-container')
                    : teacher.classList.add('hidden-teacher-container');
            });
        });

        let filterToggle = document.getElementById('filter-toggle');
        let filterClose = document.getElementById('filter-close');
        let filterContainer = document.getElementById('filter-container');
        filterToggle.addEventListener('click', function () {
            filterContainer.classList.toggle('active');
        });
        filterClose.addEventListener('click', function () {
            filterContainer.classList.remove('active');
        });
    </script>
{% endblock content %}