{% extends "base.html" %}
{% load static %}
{% block title %}Teachers{% endblock title %}
{% block content %}
    <div id="user-list-content-wrapper">
        <h1>List of teachers</h1>

        <form id="teacher-list-filter">
            {% for subject in interests %}
                <label>
                    <input type="checkbox" value="{{ subject }}">{{ subject }}
                </label>
            {% endfor %}
        </form>
        <form id="teacher-list-search">
            <label for="search">Search in teacher list</label>
            <input type="search" id="search" placeholder="Type to search...">
        </form>
        <ul id="user-list-container">
            {% for teacher in teachers %}
                {% if teacher.user.is_complete %}
                    <li>
                        <a class="user-list-container" href="{% url 'teacher_profile' teacher.user.id %}">
                            <div class="user-list-avatar"></div>
                            <div>
                            <span class="teacher-name">
                                {{ teacher.user.first_name }} {{ teacher.user.second_name }}
                            </span>
                                <div class="teacher-subjects">
                                    {% for subject in teacher.interests.all %}
                                        <span id="teacher-subject">{{ subject.name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                        <div>
                            <a class="user-list-button" href="/">Chat</a>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <script>
        let teachers = document.querySelectorAll('#user-list-container > li');
        document.getElementById('search').addEventListener('input', function () {
            let currSearch = this.value.toLowerCase();
            teachers.forEach(function (teacher) {
                let teacherName = teacher.querySelector('.teacher-name').textContent.toLowerCase();
                if (teacherName.includes(currSearch)) {
                    teacher.classList.remove('hidden-teacher-container');
                } else {
                    teacher.classList.add('hidden-teacher-container');
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            let filterForm = document.getElementById('teacher-list-filter');
            filterForm.addEventListener('change', function () {
                let checkedBoxes = filterForm.querySelectorAll('input[type="checkbox"]:checked');
                let filters = Array.from(checkedBoxes).map(checkbox => checkbox.value.toLowerCase());
                Array.from(teachers).forEach(teacher => {
                    let subjects = teacher.querySelectorAll('#teacher-subject');
                    let subjectNames = Array.from(subjects).map(subject => subject.textContent.toLowerCase());
                    let isMatch = filters.every(filter => subjectNames.includes(filter));
                    if (filters.length === 0 || isMatch) {
                        teacher.classList.remove('hidden-teacher-container');
                    } else {
                        teacher.classList.add('hidden-teacher-container');
                    }
                });
            });
        });
    </script>
{% endblock content %}