
{% extends "base.html" %}
{% load static %}
{% block title %}Teachers{% endblock title %}
{% block content %}
    <div>
        <h1>List of teachers</h1>
    </div>
    <ul>
      {% for teacher in teachers %}
        <li>
            <div class="teacher-container">
                <div class="teacher-avatar"></div>
                <div class="teacher-name"><a href="#">{{ teacher.user.username }}</a></div>
                <div class="teacher-profession">"Profession"</div>
                <div class="teacher-wrapper">
                    <button class="teacher-button">Chat</button>
                </div>
            </div>
        </li>
      {% endfor %}
    </ul>
{% endblock %}